@page "/user/userUpdate/{Id:int}"
@page "/user/userInsert"
@using PLD.Blazor.Common;
@using Microsoft.AspNetCore.Authorization;
@using System;
@attribute [Authorize(Policy = ConstantClass.MaintenanceRolePolicy)]

@inject IUserService userService
@inject IRoleService roleService


@if (@Id == 0)
{
    <h3>New User</h3>
}
else
{
    <h3>Update User</h3>
}

@if (SaveOperation == true)
{
    <span>User successfully saved</span>
    <br/>
}

<div class="container border mt-2 p-4">

    @if (User != null)
    {
        <EditForm Model="@User" OnValidSubmit="UpsertUser">
            <DataAnnotationsValidator />
            <CustomFormValidator @ref="customFormValidator" />

            <div class="row mb-3">
                <div class="col">
                <ValidationSummary />
                </div>
            </div>
            <div class="row mb-3">
                <label for="@nameof(User.FirstName)" class="col-2 col-form-label text-end">First Name</label>
                <div class="col-2">                    
                    <input type="text" @bind-value="User.FirstName" class="form-control" />
                </div>
                
                <label for="@nameof(User.LastName)" class="col-5 col-form-label text-end">Last Name</label>
                <div class="col-3">
                    <input type="text" @bind-value="User.LastName" class="form-control" />
                </div>
            </div>
            
            <div class="row mb-4">
                <label for="@nameof(User.BirthDate)" class="col-2 col-fom-label text-end">Birth Date</label>
                <div class="col-2">
                    <InputDate @bind-Value="User.BirthDate" class="form-control"/>              
                </div>
                <label for="@nameof(User.UserName)" class="col-5 col-form-label text-end">User Name</label>
                <div class="col-3">
                    <input type="text" @bind-value="User.UserName"  class="form-control"/>
                    
                </div>
            </div>
            
            <div class="row mb-4">
                <div class=" offset-1 col-11"> <b>Roles</b> </div>
            </div>
            
            @if (RoleList != null) {
                int i = 1, j=0;
                @foreach (RoleDTO role in RoleList)
                {                    
                    @if (i % 3 == 0)  {
                        <div class="row mb-3">
                            @for( j = i - 3; j<i; j++ ) {
                                RoleDTO currentRole = RoleList.ToList()[j];
                                <div class="offset-1 col-3">
                                    @{
                                        if ( (UserRoleList != null) && ( UserRoleList.Any(u => u.RoleId == currentRole.Id) ) ) {                                                                                
                                            <input type="checkbox" class="form-check-input" @onchange=" args => CheckboxClicked(currentRole.Id, args)" checked />
                                        }
                                        else
                                        {                                            
                                            <input type="checkbox" class="form-check-input" @onchange=" args => CheckboxClicked(currentRole.Id, args)" />
                                        }
                                    }
                                    <label for="@nameof(currentRole.Name)" class="ms-1 form-check-label">@currentRole.Name</label>
                                </div>                     
                            }                       
                        </div>
                     }
                     else
                     {
                        if (i >= RoleList.Count()) {
                            <div class="row mb-5">
                                @{
                                    int diff = i - j;
                                }
                                
                                @for (int k = i - diff; k < i; k++) {                                
                                    RoleDTO currentRole = RoleList.ToList()[k];
                                    <div class="offset-1 col-3">
                                        @{
                                            if ((UserRoleList != null) && (UserRoleList.Any(u => u.RoleId == currentRole.Id))) {                                                
                                                <input type="checkbox"  @onchange=" args => CheckboxClicked(currentRole.Id, args)" class="form-check-input" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" @onchange=" args => CheckboxClicked(currentRole.Id, args)" />
                                            }
                                        }
                                        <label for="@nameof(currentRole.Name)" class="ms-1 form-check-label">@currentRole.Name</label>
                                </div>                                    
                                }
                            </div>
                        }
                     }
                    i++;
                }
            }            
            <div class="row mb-3">
                <div class="offset-5 col-7">
                    <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy" Context="authorizedContext">
                        <Authorized>
                            <button class="btn btn-primary">Save</button>
                        </Authorized>
                        <NotAuthorized>
                            <button class="btn btn-primary" disabled>Save</button>
                        </NotAuthorized>
                    </AuthorizeView>   
                    <NavLink class="btn btn-secondary" href="user">Back</NavLink>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private bool SaveOperation = false;
    private UserDTO User { get; set; } = new UserDTO();
    protected CustomFormValidator customFormValidator;
    private IEnumerable<RoleDTO> RoleList { get; set; }
    private ICollection<UserRoleDTO> UserRoleList { get; set; }
    private ICollection<int> SelectedRoleList { get; set; } = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        //await PopulateForm();

        if (@Id == 0)
        {
            User = new UserDTO();           
        }
        else
        {
            // Populate carrier if already exists
            User = await userService.GetById(Id);            
        }
        
        UserRoleList = User.UserRoles;
        PopulateSelectedRoleList();
        RoleList = await roleService.GetAll();
    }

    private void PopulateSelectedRoleList()
    {
        foreach ( UserRoleDTO objUserRoleDTO in UserRoleList) {
            SelectedRoleList.Add(objUserRoleDTO.RoleId);
        }

    }
    public void CheckboxClicked(int selectedRole, EventArgs arg)  
    {          
        if (((ChangeEventArgs) arg as ChangeEventArgs).Value is true ) {

            SelectedRoleList.Add(selectedRole);
        }
        else
        {
            SelectedRoleList.Remove(selectedRole);
        }
    }  

    private async Task UpsertUser()
    {        
        customFormValidator.ClearFormErrors();

        var errors = new Dictionary<string, List<string>>();

        try
        {
            SaveOperation = false;

            if (User.Id == 0)
            {
                var record = await userService.GetByUserName(User.UserName);

                if (record != null)
                {

                    errors.Add(nameof(User.UserName),
                    new() { ConstantClass.UserCannotAddRecordUserNameUsed });
                    customFormValidator.DisplayFormErrors(errors);
                }
                else
                {
                    // Insert Procedure.
                    if (User.Id == 0)
                    {
                        User.CreatedBy = ConstantClass.SystemUser;
                        User.CreatedDate = System.DateTime.Now;

                        // Add role of the user
                        User.UserRoles = new List<UserRoleDTO>();

                        foreach( int roleId in SelectedRoleList) {
                            UserRoleDTO objUserRole = new UserRoleDTO();
                            objUserRole.CreatedDate = System.DateTime.Now;
                            objUserRole.CreatedBy = ConstantClass.SystemUser;
                            objUserRole.RoleId = roleId;
                            User.UserRoles.Add(objUserRole);
                        }                        
                        User = await userService.Create(User);
                        UserRoleList = User.UserRoles;
                    }
                    SaveOperation = true;
                }
            }
            else
            {
                var record = await userService.GetByUserNameAndNotID(User.UserName,User.Id);
                if (record != null && record.Any())
                {
                    errors.Add(nameof(User.UserName),
                    new() { ConstantClass.UserCannotAddRecordUserNameUsed });
                    customFormValidator.DisplayFormErrors(errors);
                }
                else
                {
                    // Update the record
                    User.ModifiedBy = ConstantClass.SystemUser;
                    User.ModifiedDate = System.DateTime.Now;     
                    foreach (UserRoleDTO objUserRole in User.UserRoles.ToList()) {
                        // Delete the role of the user that is not checked
                        if (! SelectedRoleList.Where( role => role == objUserRole.RoleId).Any() ) {
                            User.UserRoles.Remove(objUserRole);
                        }
                    }

                    foreach (int roleId in SelectedRoleList)
                    {
                        // Add the new role of the user when it is not existing
                        if (User.UserRoles.Where( role => role.RoleId == roleId).Count() == 0 ) {
                            UserRoleDTO objUserRole = new UserRoleDTO();
                            objUserRole.CreatedDate = System.DateTime.Now;
                            objUserRole.CreatedBy = ConstantClass.SystemUser;
                            objUserRole.RoleId = roleId;
                            User.UserRoles.Add(objUserRole);
                        }                        
                    }
                    await userService.Update(User);
                    SaveOperation = true;
                }
            }
        }
        catch (Exception ex)
        {
            errors.Add(nameof(User.UserName),
                    new() { ex.Message });
                    customFormValidator.DisplayFormErrors(errors);
            SaveOperation = false;
        }
    }
}
