@page "/premiumMode"
@using Telerik.DataSource.Extensions;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Policy = ConstantClass.MaintenanceRolePolicy)]
@inject IPremiumModeService premiumModeService
@inject IJSRuntime jsRuntime

<h3>Premium Mode</h3>

@if (_deleteOperation == true)
{
    <span>Premium Mode successfully deleted</span>
    <br />
}

@if (_errorMessage != null)
{
    <span>@_errorMessage</span>
    <br />
    <br />
}

@if (_premiumModeList != null)
{
    <TelerikGrid Data="@_premiumModeList"
             Sortable=true
             Pageable=true
             @bind-PageSize="@_pageSize"
             FilterMode="@GridFilterMode.FilterRow"
             Height="@Height">
        <GridSettings>
            <GridPagerSettings PageSizes="@_pageSizes"></GridPagerSettings>
        </GridSettings>
        <GridColumns>
            <GridColumn Field="@nameof(PremiumModeDTO.Code)" Title="Mode" Width="25px">
                <Template>
                    @{
                        PremiumModeDTO? record = (context as PremiumModeDTO);
                        @(record?.Code.ToString());
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(PremiumModeDTO.Description)" Width="25px">
                <HeaderTemplate>
                    Description
                </HeaderTemplate>
            </GridColumn>            
            <GridCommandColumn Width="50px" Context="premiumModeContext">
                <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy">
                    <Authorized>
                        @{
                            PremiumModeDTO? record = (premiumModeContext as PremiumModeDTO);
                            <NavLink class="btn btn-primary" href="@($"premiumMode/premiumModeUpdate/Edit/{record?.Code}")">Edit</NavLink>
                            <NavLink class="btn btn-secondary" @onclick=" (args) => ConfirmDelete(args, record?.Code == null ? String.Empty : record.Code)">Delete</NavLink>
                            <DeleteModal ModalTitle="Premium Mode" BodyText="Are you sure you want to delete this record ?"
                                 PrimaryButtonText="Delete" SecondaryButtonText="Cancel" Code="@(record?.Code == null ? String.Empty : record.Code )"
                                 SelectedMethodForString="DeletePremiumMode">
                            </DeleteModal>
                        }
                    </Authorized>
                </AuthorizeView>
            </GridCommandColumn>
        </GridColumns>
        <GridToolBarTemplate>
            <div class="col d-flex justify-content-end">
                <div>
                    <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy">
                        <Authorized>
                            <NavLink class="btn btn-primary" href="premiumMode/premiumModeInsert/Add">New</NavLink>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </GridToolBarTemplate>
    </TelerikGrid>
}
else
{
    <div class="loader-container">
        <span class="loader-size-title">Fetching data</span>
        <TelerikLoader Class="loader-indicator" Type="@LoaderType.ConvergingSpinner" Size="@(ThemeConstants.Loader.Size.Large)"></TelerikLoader>
    </div>
}

@code {    

    #region Fields

        private IEnumerable<PremiumModeDTO>? _premiumModeList;
        private int _pageSize = 10;
        private List<int?> _pageSizes => new List<int?> { 5, 10, 25, 50, null };
        private bool _deleteOperation = false;
        private string? _errorMessage = null;

    #endregion
    
    #region Constants
    
        private const string Height = "400px";

    #endregion


    #region Methods

    protected override async Task OnInitializedAsync()
    {
        await GetGridData();
        await base.OnInitializedAsync();
    }

    private async Task GetGridData()
    {
        _premiumModeList = await premiumModeService.GetAll();
    }

    private async Task ConfirmDelete(MouseEventArgs e, string code)
    {
        // modify the function to display modal window
        await jsRuntime.InvokeVoidAsync("DisplayModal", "DeleteModal_" + code);
    }

    private async Task DeletePremiumMode(string code)
    {
        try
        {
            _deleteOperation = false;
            // Perform delete activity
            await premiumModeService.Delete(code);
            await GetGridData();
            _deleteOperation = true;
            _errorMessage = null;
        }
        catch (Exception ex)
        {
            _deleteOperation = false;
            _errorMessage = ex.Message.ToString();
        }
    }

    #endregion
    

    
}

<style>
    .loader-size-title {
        display: block;
        margin-bottom: 10px;
    }

    .loader-container {
        text-align: center;
        width: 150px;
        display: inline-table;
        padding-top: 10px;
        position: absolute;
        left: 50%;
    }
</style>
