@page "/producttype"
@using Telerik.DataSource.Extensions;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Policy = ConstantClass.MaintenanceRolePolicy)]
@inject IProductTypeService productTypeService
@inject IJSRuntime jsRuntime

<h3>Product Type</h3>

@if (_deleteOperation == true)
{
    <span>Product Type successfully deleted</span>
    <br/>
}

@if(_errorMessage != null)
{
    <span>@_errorMessage</span>
    <br/>
    <br/>
}

@if (_productTypeList != null)
{
    <TelerikGrid Data=@_productTypeList
             Sortable=true
             Pageable=true
             @bind-PageSize="@_pageSize"
             FilterMode="@GridFilterMode.FilterRow"
             Height=@_height>

        <GridSettings>
            <GridPagerSettings PageSizes="@_pageSizes" />
        </GridSettings>
        <GridColumns>
            <GridColumn Field="@nameof(ProductTypeDTO.Id)" Title="Id" Visible=false>
                <Template><input type="hidden" asp-for="@nameof(ProductTypeDTO.Id)"> </Template>
            </GridColumn>
            <GridColumn Field="@nameof(ProductTypeDTO.Code)" Title="Code" Width="50px">
            </GridColumn>
            <GridColumn Field="@nameof(ProductTypeDTO.Name)" Title="Name" Width="195px" />
            <GridCommandColumn Width="35px" Context="productTypeContext">
                <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy" >
                    <Authorized>
                            @{
                                ProductTypeDTO? record = (productTypeContext as ProductTypeDTO);
                                <NavLink class="btn btn-primary" href="@($"productType/productTypeUpdate/{record?.Id}")">Edit</NavLink>
                                <NavLink class="btn btn-secondary" @onclick=" (args) => ConfirmDelete(args, record?.Id == null ? 0:record.Id)">Delete</NavLink>

                                <DeleteModal ModalTitle="Product Type" BodyText="Are you sure you want to delete this product type ?"
                                    PrimaryButtonText="Delete" SecondaryButtonText="Cancel" Id=@(record?.Id == null ? 0:record.Id)
                                    SelectedMethod="DeleteProductType">
                                </DeleteModal>
                            }
                    </Authorized>
                </AuthorizeView>
                
        </GridCommandColumn>
    </GridColumns>
    <GridToolBar>
        <div class="col d-flex justify-content-end">
            <div>
                <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy">
                    <Authorized>
                        <NavLink class="btn btn-primary" href="productType/productTypeInsert">New</NavLink>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </GridToolBar>
</TelerikGrid>
}
else
{
    <div class="loader-container">
        <span class="loader-size-title">Fetching data</span>
        <TelerikLoader Class="loader-indicator" Type="@LoaderType.ConvergingSpinner" Size="@(ThemeConstants.Loader.Size.Large)"></TelerikLoader>
    </div>
}

@code {

    #region Fields
        
        private IEnumerable<ProductTypeDTO>? _productTypeList; 
        private int _pageSize = 10;
        private List<int?> _pageSizes => new List<int?> { 5, 10, 25, 50, null };
        private bool _deleteOperation = false;
        private string? _errorMessage = null;

    #endregion

    #region Constants
        
        private const string _height = "400px";

    #endregion    

    #region Methods

        protected override async Task OnInitializedAsync()
        {
            await GetGridData();
        }

        private async Task GetGridData()
        {
            _productTypeList = await productTypeService.GetAll();
        }

        private async Task ConfirmDelete(MouseEventArgs e, int id)
        {
            // modify the function to display modal window
            await jsRuntime.InvokeVoidAsync("DisplayModal", "DeleteModal_" + id.ToString());
        }

        private async Task DeleteProductType(int id)
        {
            try
            {
                _deleteOperation = false;
                // Perform delete producttype
                await productTypeService.Delete(id);
                await GetGridData();
                _deleteOperation = true;
                _errorMessage = null;
            }
            catch (Exception ex)
            {
                _deleteOperation = false;
                _errorMessage = ex.Message.ToString();
            }
        }
        
    #endregion    
}

<style>
    .loader-size-title {
        display: block;
        margin-bottom: 10px;
    }

    .loader-container {
        text-align: center;
        width: 150px;
        display: inline-table;
        padding-top: 10px;
        position: absolute;
        left: 50%;
    }
</style>
