@page "/activity/activityUpdate/{Action}/{Code}"
@page "/activity/activityInsert/{Action}"

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Policy = ConstantClass.MaintenanceRolePolicy)]

@inject IActivityService activityService

@if (Action == ConstantClass.AddAction)
{
    <h3>New Transaction Type</h3>
}
else if (Action == ConstantClass.EditAction)
{
    <h3>Update Transaction Type</h3>
}

@if (_saveOperation == true)
{
    <span>Transaction Type successfully saved</span>
    <br />
}

<div class="container border mt-2 p-4">
    @if (_activity != null)
    {
        <EditForm Model="@(_activity = _activity ?? new ActivityDTO() )" OnValidSubmit="@UpsertActivity">
            <DataAnnotationsValidator />
            <CustomFormValidator @ref="_customFormValidator" />
            <div class="row mb-3">
                <div class="col">
                    <ValidationSummary />
                </div>
            </div>
            <div class="row mb-3">
                <label for="@nameof(_activity.Code)" class="col-2 col-form-label text-end">Code</label>
                <div class="col-2">
                    <input type="text" @bind-value="_activity.Code" class="form-control" />
                </div>
                <label for="@nameof(_activity.Description)" class="col-5 col-form-label text-end">Descrption</label>
                <div class="col-3">
                    <input type="text" @bind-value="_activity.Description" class="form-control" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-4 col-8">
                    <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy" Context="authorizedContext">
                        <Authorized>
                            <button class="btn btn-primary">Save</button>
                        </Authorized>
                        <NotAuthorized>
                            <button class="btn btn-primary" disabled>Save</button>
                        </NotAuthorized>
                    </AuthorizeView>
                    <NavLink class="btn btn-secondary" href="activity">Back</NavLink>
                </div>
            </div>
        </EditForm>
    }
</div>
@code {
    #region Parameters

        [Parameter]
        public string Code { get; set; } = String.Empty;
        [Parameter]
        public string Action { get; set; } = String.Empty;

    #endregion Parameters

    #region Fields

        private ActivityDTO? _activity { get; set; }
        private bool _saveOperation = false;
        private CustomFormValidator? _customFormValidator;

    #endregion Fields

    #region Events

        protected override async Task OnInitializedAsync()
        {
            if (String.IsNullOrEmpty(@Code))
            {
                _activity = new ActivityDTO();
            }
            else
            {
                // Populate activity if already exists
                _activity = await activityService.GetByCode(Code);
            }

            await base.OnInitializedAsync();
        }

    #endregion Events        

    #region Methods    

        private async Task UpsertActivity()
        {
            _customFormValidator?.ClearFormErrors();
            var errors = new Dictionary<string, List<string>>();
            try
            {
                _saveOperation = false;
                var record = await activityService.GetByCode(_activity?.Code == null ? String.Empty :
                _activity.Code);

                if (Action == ConstantClass.EditAction)
                {
                    if (record != null)
                    {

                        // Update the record
                        (_activity = _activity ??= new ActivityDTO()).ModifiedBy = ConstantClass.SystemUser;
                        _activity.ModifiedDate = System.DateTime.Now;
                        await activityService.Update(_activity);
                        _saveOperation = true;
                    }
                    else
                    {
                        errors.Add(nameof(_activity.Code),
                        new() { ConstantClass.ActivityCannotUpdateRecordCodeNotExists });
                        _customFormValidator?.DisplayFormErrors(errors);
                    }
                }
                else if (Action == ConstantClass.AddAction)
                {
                    if (record != null)
                    {
                        errors.Add(nameof(_activity.Code),
                        new() { ConstantClass.ActivityCannotAddRecordCodeUsed });
                        _customFormValidator?.DisplayFormErrors(errors);
                    }
                    else
                    {
                        (_activity = _activity ??= new ActivityDTO()).CreatedBy = ConstantClass.SystemUser;
                        _activity.CreatedDate = System.DateTime.Now;
                        _activity = await activityService.Create(_activity);
                        _saveOperation = true;
                        Action = ConstantClass.EditAction;
                    }
                }
            }
            catch (Exception ex)
            {
                errors.Add(nameof(_activity.Code),
                        new() { ex.Message });
                _customFormValidator?.DisplayFormErrors(errors);
                _saveOperation = false;
            }
        }

    #endregion Methods
}
