@page "/carrier/carrierUpdate/{Id:int}"
@page "/carrier/carrierInsert"
@using PLD.Blazor.Common
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = ConstantClass.MaintenanceRolePolicy)]
@inject NavigationManager _INavigationManager
@inject ICarrierService carrierService

@if (@Id == 0)
{
        <h3>New Carrier</h3>
}
else
{
        <h3>Update Carrier</h3>
}

@if (SaveOperation == true)
{
        <span>Carrier successfully saved</span>
        <br/>
}

<div class="container border mt-2 p-4">

    @if (Carrier != null)
    {
            <EditForm Model="@Carrier" OnValidSubmit="@UpsertCarrier">
                <DataAnnotationsValidator />
                <CustomFormValidator @ref="customFormValidator" />
                <div class="row mb-3">
                    <label for="@nameof(Carrier.CarrierCode)" class="col-4 text-end">Code</label>
                    <div class="col-8">
                        <input type="text" @bind-value="Carrier.CarrierCode" />
                        <ValidationMessage For=" ()=> Carrier.CarrierCode "></ValidationMessage>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="@nameof(Carrier.Name)" class="col-4 text-end">Name</label>
                    <div class="col-8">
                        <input type="text" @bind-value="Carrier.Name" />
                        <ValidationMessage For=" ()=> Carrier.Name" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="offset-4 col-8">
                        <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy" Context="authorizedContext">
                            <Authorized>
                                <button class="btn btn-primary">Save</button>
                            </Authorized>
                            <NotAuthorized>
                                <button class="btn btn-primary" disabled>Save</button>
                            </NotAuthorized>
                        </AuthorizeView>                    
                        <NavLink class="btn btn-secondary" href="carrier">Back</NavLink>
                    </div>
                </div>
            </EditForm>
    }
</div>


@code {

    [Parameter]
    public int Id { get; set; }
    private CarrierDTO Carrier { get; set; } = new CarrierDTO();
    private bool SaveOperation = false;
    protected CustomFormValidator customFormValidator;

    protected override async Task OnInitializedAsync()
    {
        if (@Id == 0)
        {
            Carrier = new CarrierDTO();
        }
        else
        {
            // Populate carrier if already exists
            Carrier = await carrierService.GetById(Id);
        }
    }

    private async Task UpsertCarrier()
    {
        customFormValidator.ClearFormErrors();
        var errors = new Dictionary<string, List<string>>();
        try
        {
            SaveOperation = false;
            if (Carrier.Id == 0)
            {
                var record = await carrierService.GetByCode(Carrier.CarrierCode);
                if (record != null)
                {

                    errors.Add(nameof(Carrier.CarrierCode),
                    new() { ConstantClass.CarrierCannotAddRecordCodeUsed });
                    customFormValidator.DisplayFormErrors(errors);
                }
                else
                {
                    // Insert Procedure.
                    if (Carrier.Id == 0)
                    {
                        Carrier.CreatedBy = ConstantClass.SystemUser;
                        Carrier.CreatedDate = System.DateTime.Now;
                        Carrier = await carrierService.Create(Carrier);
                    }
                    SaveOperation = true;
                }
            }
            else
            {
                var record = await carrierService.GetByCodeAndNotID(Carrier.CarrierCode, Carrier.Id);
                if (record != null && record.Any())
                {
                    errors.Add(nameof(Carrier.CarrierCode),
                    new() { ConstantClass.CarrierCannotAddRecordCodeUsed });
                    customFormValidator.DisplayFormErrors(errors);
                }
                else
                {
                    // Update the record
                    Carrier.ModifiedBy = ConstantClass.SystemUser;
                    Carrier.ModifiedDate = System.DateTime.Now;
                    await carrierService.Update(Carrier);
                    SaveOperation = true;

                }
            }
        }
        catch (Exception ex)
        {
            errors.Add(nameof(Carrier.CarrierCode),
                    new() { ex.Message });
            customFormValidator.DisplayFormErrors(errors);
            SaveOperation = false;
        }
    }
}
